body {
	color: white;
	font-family: sans-serif;
	background: #505050;
}

h1 {
	font-size: 2.5em;
}

h1, p {
	text-align: center;
}

p {
	font-family: monospace;
	font-size: 1.6em;
}

#images {
	text-align: center;
	margin-top: 2em;
}

#result {
	text-align: center;
}

iframe {
	margin: 0 auto;
}

#tryagain {
	text-align: center;
	margin-top: 1.5em;
}

#tryagain a {
	color: orange;
}

#tryagain a:hover {
	color: #ff5500;
}
